.hljs-keyword,
.hljs-doctag,
.hljs-function,
.hljs-selector-tag,
.hljs-name,
.hljs-meta {
    color: #FF79C6;
    font-style: normal;
}

.hljs-string {
    color: #F1FA8C;
}

.hljs-title.function_,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-code,
.hljs-meta .hljs-keyword,
.hljs-tag .hljs-attr {
    color: #4EF36C;
    font-style: normal;
}

.hljs-number,
.hljs-literal,
.hljs-variable.constant_,
.hljs-variable.language_,
.hljs-section {
    color: #BD93F9;
    font-style: normal;
}

.hljs-params,
.hljs-variable {
    color: #FFB167;
    font-style: italic;
}

.hljs-title.class_,
.hljs-type,
.hljs-attr,
.hljs-link,
.hljs-attribute,
.hljs-built_in {
    color: #8BE9FD;
    font-style: normal;
}

.hljs-regexp {
    color: #FF5555
}

.hljs-subst,
.hljs-tag {
    color: #fff
}

.hljs-section {
    font-weight: bold;
}

.hljs-strong {
    color: #FFB86C;
}

.language-javascript .hljs-attr,
.language-typescript .hljs-attr {
    color: #fff;
}

.hljs-type,
.hljs-selector-class {
    font-style: italic;
}

.hljs-comment {
    color: #62729A;
    font-style: normal;
}