@import url(../common/common.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}

body {
  width: 850px;
}

.container {
  width: 850px;
}