@import url(../common/common.css);

@font-face {
  font-family: Inconsolata;
  src: url("../fonts/Inconsolata.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}

body {
  width: 850px;
}

.container {
  width: 850px;
  font-family: Inconsolata, monospace;
}

.box {
  padding: 10px;
  background: rgba(13, 13, 13, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(19px);
  -webkit-backdrop-filter: blur(19px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-family: Inconsolata, monospace;
  color: #fff;
}