@font-face {
  font-family: Inconsolata;
  src: url("../fonts/Inconsolata.ttf");
}

body {
  background: url("https://api.suyanw.cn/api/comic2") #b5b5b5 center top no-repeat;
  background-size: cover;
  padding: 10px 20px;
  transform: scale(1.4);
  transform-origin: 0 0;
  font-family: Inconsolata
}

.hljs {
  padding: 10px;
  font-family: Inconsolata;
  background: rgba(40, 42, 54, 0.9);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.hljs-ln-code {
  color: #F8F8E5
}

.hljs-ln-numbers {
  color: #ccc;
}

.hljs-ln-n:before {
  padding-right: 10px;
}

.box {
  padding: 10px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.title,
.copyright {
  text-align: center;
  color: #000;
}

.title {
  font-size: 40px;
}

.copyright {
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}

table:not(code table) {
  border-collapse: collapse;
  margin-bottom: 16px;
}

table:not(code table) th,
table:not(code table) td {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

table:not(code table) th {
  background-color: #f1f8ff;
}

table:not(code table) td {
  background-color: #fff;
}

table:not(code table) tr:nth-child(even) td {
  background-color: #f8f8f8;
}